.logo {
    width: 18%;
    margin: 4rem auto 2.3rem auto;
  }

  .navitem{
    margin: 1rem;
    letter-spacing: .2rem;
    font-size: .8rem;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }




  @media only screen and (max-width: 600px) {
    .logo {
        max-width: 100%;
        min-width: 60%;
        margin: 4rem auto 2.3rem auto;
      }

  }
  